broker {
  local {
    amqurl = "tcp://activemq:61616"
    jmxurl = "service:jmx:rmi:///jndi/rmi://activemq:1099/jmxrmi"
    username = ""
    password = ""
    prompt-color = "light-blue" // Possible values: "gray", "red", "light-red", "light-green", "green", "light-yellow", "yellow", "light-blue", "blue", "light-purple", "purple", "light-cyan", "cyan", "light-white", "white"
  }
}
